<div class="min-h-screen flex relative surface-ground">
  <div
    id="app-sidebar-9"
    class="h-full lg:h-auto surface-section hidden lg:block flex-shrink-0 absolute lg:static left-0 top-0 z-1 border-right-1 surface-border w-18rem lg:w-7rem select-none"
  >
    <div class="flex flex-column h-full">
      <div class="flex align-items-center justify-content-center flex-shrink-0" style="height: 60px">
        <img src="../../assets/verificadasCl.png" alt="Image" height="190" />
      </div>
      <div class="mt-3">
        <ul class="list-none p-0 m-0">
          <li (click)="goToHomeView()">
            <a
              pRipple
              class="flex flex-row lg:flex-column align-items-center cursor-pointer p-3 lg:justify-content-center border-left-2 hover:border-300 transition-duration-150 transition-colors"
              [ngClass]="{ 'text-purple-500 border-purple-500': views.home, 'text-600 border-transparent': !views.home }"
            >
              <i class="pi pi-home mr-2 lg:mr-0 mb-0 lg:mb-2 text-base lg:text-2xl"></i>
              <span class="font-medium inline text-base lg:text-xs lg:block">Home</span>
            </a>
          </li>
          <li (click)="goToMultimediaView()">
            <a
              pRipple
              class="flex flex-row lg:flex-column align-items-center cursor-pointer p-3 lg:justify-content-center border-left-2 hover:border-300 transition-duration-150 transition-colors"
              [ngClass]="{ 'text-purple-500 border-purple-500': views.multimedia, 'text-600 border-transparent': !views.multimedia }"
            >
              <i class="pi pi-camera mr-2 lg:mr-0 mb-0 lg:mb-2 text-base lg:text-2xl"></i>
              <span class="font-medium inline text-base lg:text-xs lg:block">Multimedia</span>
            </a>
          </li>
          <li (click)="goToSafetyView()">
            <a
              pRipple
              class="flex flex-row lg:flex-column align-items-center cursor-pointer p-3 lg:justify-content-center border-left-2 hover:border-300 transition-duration-150 transition-colors"
              [ngClass]="{ 'text-purple-500 border-purple-500': views.safety, 'text-600 border-transparent': !views.safety }"
            >
              <i class="pi pi-shield mr-2 lg:mr-0 mb-0 lg:mb-2 text-base lg:text-2xl"></i>
              <span class="font-medium inline text-base lg:text-xs lg:block">Seguridad</span>
            </a>
          </li>
          <!-- <li (click)="goToDataView()">
            <a
              pRipple
              class="flex flex-row lg:flex-column align-items-center cursor-pointer p-3 lg:justify-content-center border-left-2 hover:border-300 transition-duration-150 transition-colors"
              [ngClass]="{ 'text-purple-500 border-purple-500': views.data, 'text-600 border-transparent': !views.data }"
            >
              <i class="pi pi-chart-bar mr-2 lg:mr-0 mb-0 lg:mb-2 text-base lg:text-2xl"></i>
              <span class="font-medium inline text-base lg:text-xs lg:block">Trafico</span>
            </a>
          </li> -->
          <li (click)="goToEditView()">
            <a
              pRipple
              class="flex flex-row lg:flex-column align-items-center cursor-pointer p-3 lg:justify-content-center border-left-2 hover:border-300 transition-duration-150 transition-colors"
              [ngClass]="{ 'text-purple-500 border-purple-500': views.edit, 'text-600 border-transparent': !views.edit }"
            >
              <i class="pi pi-file-edit mr-2 lg:mr-0 mb-0 lg:mb-2 text-base lg:text-2xl"></i>
              <span class="font-medium inline text-base lg:text-xs lg:block">Editar</span>
            </a>
          </li>
          <li (click)="goToSubscriptionView()">
            <a
              pRipple
              class="flex flex-row lg:flex-column align-items-center cursor-pointer p-3 lg:justify-content-center border-left-2 hover:border-300 transition-duration-150 transition-colors"
              [ngClass]="{ 'text-purple-500 border-purple-500': views.subscription, 'text-600 border-transparent': !views.subscription }"
            >
              <i class="pi pi-calendar mr-2 lg:mr-0 mb-0 lg:mb-2 text-base lg:text-2xl"></i>
              <span class="font-medium inline text-base lg:text-xs lg:block">Subscripcion</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="mt-auto">
        <hr class="mb-3 mx-3 border-top-1 border-none surface-border" />
        <a
          pRipple
          class="m-3 flex flex-row lg:flex-column align-items-center cursor-pointer p-3 lg:justify-content-center hover:surface-200 border-round text-600 transition-duration-150 transition-colors"
          (click)="logOutUser()"
        >
          <i class="pi pi-sign-out mr-2 lg:mr-0 mb-0 lg:mb-2 text-base lg:text-2xl"></i>
          <span class="font-medium inline text-base lg:text-xs lg:block">Log Out</span>
        </a>
      </div>
    </div>
  </div>
  <div class="min-h-screen flex flex-column relative flex-auto">
    <div class="flex justify-content-between align-items-center px-5 surface-section relative lg:static border-bottom-1 surface-border" style="height: 60px">
      <div class="flex">
        <a
          pRipple
          class="cursor-pointer block lg:hidden text-700 mr-3"
          pStyleClass="#app-sidebar-9"
          enterFromClass="hidden"
          enterActiveClass="fadeinleft"
          leaveToClass="hidden"
          leaveActiveClass="fadeoutleft"
          [hideOnOutsideClick]="true"
        >
          <i class="pi pi-bars text-4xl"></i>
        </a>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input type="text" pInputText class="border-none w-10rem sm:w-20rem" placeholder="Search" />
        </span>
      </div>
      <a
        pRipple
        class="cursor-pointer block lg:hidden text-700"
        pStyleClass="@next"
        enterFromClass="hidden"
        enterActiveClass="fadein"
        leaveToClass="hidden"
        leaveActiveClass="fadeout"
        [hideOnOutsideClick]="true"
      >
        <i class="pi pi-ellipsis-v text-2xl"></i>
      </a>
      <ul
        class="list-none p-0 m-0 hidden lg:flex lg:align-items-center select-none lg:flex-row surface-section border-1 lg:border-none surface-border right-0 top-100 z-1 shadow-2 lg:shadow-none absolute lg:static"
      >
        <li>
          <a
            pRipple
            class="flex p-3 lg:px-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer transition-duration-150 transition-colors"
          >
            <i class="pi pi-inbox text-base lg:text-2xl mr-2 lg:mr-0"></i>
            <span class="block lg:hidden font-medium">Inbox</span>
          </a>
        </li>
        <li>
          <a
            pRipple
            class="flex p-3 lg:px-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer transition-duration-150 transition-colors"
          >
            <i class="pi pi-bell text-base lg:text-2xl mr-2 lg:mr-0"></i>
            <span class="block lg:hidden font-medium">Notifications</span>
          </a>
        </li>
      </ul>
    </div>
    <div *ngIf="user !== undefined && user.girl !== undefined" class="p-5">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
